.row-header {
  margin: 0px auto;
  padding: 0px 0px; }

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; }

.footer {
  background-color: #000;
  color: white;
  margin: 0px auto;
  padding: 20px 0px; }

.jumbotron {
  margin: 0px auto;
  padding: 70px 30px;
  color: #373463; }

address {
  font-size: 80%;
  margin: 0px;
  color: #0f0f0f; }

body {
  padding: 50px 0px 0px 0px;
  z-index: 0; }

.navbar-dark {
  background-color: #dd1021;
  color: white; }

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px; }

.carousel {
  color: #373463; }
  .carousel .carousel-caption p {
    color: #373463; }
  .carousel .carousel-caption h3 {
    color: #373463; }
  .carousel .carousel-caption h2 {
    color: #373463; }
  .carousel .carousel-item {
    height: 300px;
    color: #373463; }
    .carousel .carousel-item img {
      margin: auto;
      top: 0;
      left: 0;
      height: 300px; }

.modal .modal-header {
  background: #dd1021;
  color: white; }

.modal .modal-content {
  background: #ddd; }

.modal .close {
  color: #FFD2D2; }

.carousel-indicators li {
  background-color: #FFD8D8; }

.carousel-indicators .active {
  background-color: #dd1021; }

#carouselButton {
  right: 0px;
  position: absolute;
  bottom: 0px;
  z-index: 1; }
